body {
    background-image: url('duel-background.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.containerContent {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    max-height:90vh;
    overflow-y: scroll; /* enable vertical scrollbar */
}


textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

#textContainer {
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 400px;
}



h1, h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}


p {
    text-align: center;
    font-style: italic;
}

label {
    display: block;
    margin-bottom: 5px;
}



button {
    padding: 10px 20px;
    border: none;
    background-color: #177cd5;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}


#textContainer {
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 400px;
    max-width: -webkit-fill-available;
}

body > .wrapper > .container {
  width: 100%;
  max-width: unset;
  margin-bottom: 80px;
}

#dropdownSelected > span:first-of-type {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body > .wrapper {
  flex-direction: column;
}

.container {
  width: 50%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 14px;
}

body > .wrapper > .container {
  width: 100%;
  max-width: unset;
  margin-bottom: 80px;
}

#dropdownSelected > span:first-of-type {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}